.aGrow {
  animation: aGrow 0.7s ease 1;
}

.shrink {
  animation: shrink 0.7s ease 1;
}

@keyframes aGrow {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
