.float-inv-radial {
  position: absolute;
  animation: float-scale 20s ease infinite;
}

@keyframes float-inv-radial {
  0% {
    transform: translate(-20px, -20px);
  }
  25% {
    transform: translate(0px, -40px);
  }
  50% {
    transform: translate(20px, -20px);
  }
  75% {
    transform: translate(0, -20px);
  }
  100% {
    transform: translate(-20px, -20px);
  }
}

@keyframes float-scale {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
