.arrow-button {
  @apply cursor-pointer z-10 absolute text-primary bg-dark-p hover:text-dark-p hover:bg-primary w-10 h-10 rounded-full transition flex items-center justify-center;
}

.go-button {
  @apply flex gap-2 transition font-medium px-5 py-2 items-center justify-center rounded-3xl;
}

.cell {
  @apply w-screen h-screen flex items-center justify-center gap-10 relative;
}

.main {
  transition: all 1s ease-in;
  display: grid;
  @apply relative h-[80%];
}

.descubre-trinidad h1 {
  font-family: "Times New Roman", Times, serif;
}

.info h1 {
  @apply text-5xl;
}

.info p {
  @apply text-base;
}

.descubre-trinidad p {
  font-family: Arial, Helvetica, sans-serif;
}

.descubre-trinidad a {
  background-color: #fbb13b;
  @apply text-secondary-background hover:text-[white];
}

.descubre-trinidad a:hover {
  background-color: #f29c16;
}

.alta-voz h1 {
  @apply font-bold;
}

.alta-voz h1,
p {
  font-family: "Roboto", sans-serif;
}

.alta-voz a {
  background-color: #a83e19;
  color: aliceblue;
}

.alta-voz a:hover {
  background-color: #f15a24;
}

.m2g-fotos h1,
.findylin h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900 !important;
}

.m2g-fotos a {
  @apply text-[white] hover:text-[#117fd7] bg-[#117fd7] hover:bg-[white];
}

.findylin a {
  @apply bg-[#004e41] hover:bg-[#00362d] text-[white];
}

.image {
  @apply w-[50%] h-full object-cover;
}

.info {
  transition: all 1s ease;
  @apply flex flex-col h-full justify-center items-start gap-5 w-[50%];
}

@media (max-width: 800px) {
  .image {
    @apply absolute w-full top-0 left-0;
  }

  .info {
    @apply absolute -translate-x-0 -translate-y-0 top-0 left-0 items-center w-full px-10 bg-opacity-secondary-background-projects;
  }

  .info h1,
  .info p {
    @apply text-center;
  }

  .info h1 {
    @apply text-3xl;
  }

  .info p {
    @apply text-sm;
  }
}
