@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-main-background overflow-x-hidden;
}

.padding-left {
  padding-left: 8rem;
}

.padding-right {
  padding-right: 8rem;
}

.navbar {
  padding: 0 8rem;
}

@media (max-width: 1200px) {
  .navbar {
    padding: 0 5rem;
  }

  .padding-left {
    padding-left: 5rem;
  }

  .padding-right {
    padding-right: 5rem;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 0 40px;
  }

  .padding-left {
    padding-left: 40px;
  }

  .padding-right {
    padding-right: 40px;
  }
}

.ease {
  transition: all 1s ease;
}
